body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(94, 94, 94) 0%,
    rgb(119, 119, 119) 69%,
    rgb(119, 119, 119) 89%
  ) !important;
}

.ui.card,
.ui.cards>.card {
  background-color: #a3a3a3;
}